* {
    color: red;
}

.ContributionCalendar-day[data-level="1"] {
    fill: var(--color-calendar-winter-graph-day-L1-bg);
}

.ContributionCalendar-day[data-level="2"] {
    fill: var(--color-calendar-winter-graph-day-L2-bg);
}

.ContributionCalendar-day[data-level="3"] {
    fill: var(--color-calendar-winter-graph-day-L3-bg);
}

.ContributionCalendar-day[data-level="4"] {
    fill: var(--color-calendar-winter-graph-day-L4-bg);
}

